.Dictionary h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: whitesmoke;
}

.Dictionary section {
  background-color: whitesmoke;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 4px;
  color: #333;
  border: 1px solid #ddd;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
  font-style: italic;
}
